.btn {
    background-color:var(--lightBlue);
    color:white;
    padding: 6px 105px;
    margin-top: 12px;
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    border-style:none;
  }