.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--white);
}
.formField form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  border: 1px solid var(--grey);
  width: 320px;
  height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:-90px;
}

.textLogo{
  width:180px;
  height:108px;
  margin-top: 20px;
}

.lineBreak{
  display: flex;
  width:76%;
  height:1px;
  margin-top:30px;
  align-items: center;
  color:var(--darkGrey);
}

.lineBreakText{
  margin-left:20px;
  margin-right:20px;
  font-size:12px;
  color:var(--darkerGrey);
  font-weight:600;
}

.password{
  margin-left:20px;
  margin-right:20px;
  font-size:11px;
  color:var(--navy);
  margin-top:20px;
}

.password:hover{
  cursor: pointer;
}