.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: auto;
  background-color: var(--white);
}

.formField form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  border: 1px solid var(--grey);
  width: 320px;
  height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -96px;
}

.textLogo{
  width:180px;
  height:108px;
  margin-top: 20px;
}

.lineBreak{
  display: flex;
  width:76%;
  margin-top:30px;
  align-items: center;
}

.lineBreakText{
  margin-left:20px;
  margin-right:20px;
  font-size:12px;
  color:var(--darkerGrey);
  font-weight:600;
}

.password{
  margin-left:20px;
  margin-right:20px;
  font-size:11px;
  color:var(--navy);
  margin-top:20px;
}

.password:hover{
  cursor: pointer;
}

.signUp {
  border: 1px solid var(--grey);
  width: 320px;
  height:56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 286px;
  margin-top:8px
}

.signUpText{
  margin-top: 20px;
  font-size:14px;
}
.signUpLink {
  color:var(--blue);
  font-weight: 500;
}

.signUpLink:hover{
  cursor: pointer;
}

.getTheApp{
  margin-top: 40px;
  font-size:13px;
}

.getApp{
  margin-top:-240px;
}

/* Tablet (ipad air)  */
@media (min-width: 414px) and (max-width: 820px){

}

/* Iphone XR */
@media (max-width:414px){

}